# Dependencies
## Install pyspark, pandas

In [15]:
# !pip install pyspark

In [16]:
# !pip install pandas

## Import dependencies/packages such as pyspark

In [17]:
import pyspark

In [18]:
import pandas as pd

# Create Spark Session

In [19]:
from pyspark.sql import SparkSession

In [20]:
spark = SparkSession.builder.appName('spark_project ').getOrCreate()

### Note: getOrCreate() is important.
Otherwise you have to manually reset kernel everytime, and manually run cells in proper sequence

## SparkUI hyperlink available

# ALWAYS USE SPARK FUNCTIONS
TO TAKE ADVANTAGE OF SPARK'S EXECUTION SPEED. STAY AWAY FROM USER-DEFINED FUNCTIONS IF POSSIBLE.

In [21]:
spark

# Get Data, part of Data Wrangling, ETL process

In [22]:
# df_spark = spark.read.option('header','true').csv("file:///D:/2_R_repo/2_python repo/Spark project/auto-mpg.csv", inferSchema=True)
df_spark = spark.read.csv("file:///D:/2_general_repo/1_public_repo/Spark project/auto-mpg.csv", inferSchema=True, header=True)

Note: without inferSchema, everything is type-string.
df_spark.describe()
DataFrame[summary: string, _c0: string, V1: string, V2: string, V3: string, V4: string, V5: string, V6: string, V7: string, V8: string, V9: string]

In [23]:
df_spark

DataFrame[_c0: int, V1: double, V2: int, V3: double, V4: string, V5: int, V6: double, V7: int, V8: int, V9: string]

## Get DataFrame structure, printSchema()

In [24]:
df_spark.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- V1: double (nullable = true)
 |-- V2: integer (nullable = true)
 |-- V3: double (nullable = true)
 |-- V4: string (nullable = true)
 |-- V5: integer (nullable = true)
 |-- V6: double (nullable = true)
 |-- V7: integer (nullable = true)
 |-- V8: integer (nullable = true)
 |-- V9: string (nullable = true)

In [25]:
df_spark.head(5)

[Row(_c0=1, V1=18.0, V2=8, V3=307.0, V4='130', V5=3504, V6=12.0, V7=70, V8=1, V9='chevrolet chevelle malibu'),
 Row(_c0=2, V1=15.0, V2=8, V3=350.0, V4='165', V5=3693, V6=11.5, V7=70, V8=1, V9='buick skylark 320'),
 Row(_c0=3, V1=18.0, V2=8, V3=318.0, V4='150', V5=3436, V6=11.0, V7=70, V8=1, V9='plymouth satellite'),
 Row(_c0=4, V1=16.0, V2=8, V3=304.0, V4='150', V5=3433, V6=12.0, V7=70, V8=1, V9='amc rebel sst'),
 Row(_c0=5, V1=17.0, V2=8, V3=302.0, V4='140', V5=3449, V6=10.5, V7=70, V8=1, V9='ford torino')]

## Show data, .show()
similar to pandas .head()

In [26]:
df_spark.show(5)

+---+----+---+-----+---+----+----+---+---+--------------------+
|_c0|  V1| V2|   V3| V4|  V5|  V6| V7| V8|                  V9|
+---+----+---+-----+---+----+----+---+---+--------------------+
|  1|18.0|  8|307.0|130|3504|12.0| 70|  1|chevrolet chevell...|
|  2|15.0|  8|350.0|165|3693|11.5| 70|  1|   buick skylark 320|
|  3|18.0|  8|318.0|150|3436|11.0| 70|  1|  plymouth satellite|
|  4|16.0|  8|304.0|150|3433|12.0| 70|  1|       amc rebel sst|
|  5|17.0|  8|302.0|140|3449|10.5| 70|  1|         ford torino|
+---+----+---+-----+---+----+----+---+---+--------------------+
only showing top 5 rows

## Describe data_frame, .describe()

In [27]:
df_spark.describe()

DataFrame[summary: string, _c0: string, V1: string, V2: string, V3: string, V4: string, V5: string, V6: string, V7: string, V8: string, V9: string]

## Get all column names, .columns

In [28]:
df_spark.columns

['_c0', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9']

## Select certain columns, .select()

In [29]:
df_spark.select(['V4','V3']).show(5)

+---+-----+
| V4|   V3|
+---+-----+
|130|307.0|
|165|350.0|
|150|318.0|
|150|304.0|
|140|302.0|
+---+-----+
only showing top 5 rows

Note: .select() creates a "view", does NOT change the df in any way

## Get data_types in DataFrame, .dtypes()

In [30]:
df_spark.dtypes

[('_c0', 'int'),
 ('V1', 'double'),
 ('V2', 'int'),
 ('V3', 'double'),
 ('V4', 'string'),
 ('V5', 'int'),
 ('V6', 'double'),
 ('V7', 'int'),
 ('V8', 'int'),
 ('V9', 'string')]

## Get summary or description, describe()

In [31]:
df_spark.describe().show()

+-------+-----------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+--------------------+
|summary|              _c0|                V1|                V2|                V3|                V4|               V5|                V6|                V7|                V8|                  V9|
+-------+-----------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+--------------------+
|  count|              225|               225|               225|               225|               225|              225|               225|               225|               225|                 225|
|   mean|            113.0|19.964444444444446| 5.884444444444444|220.58444444444444|114.72197309417041|           3170.8|15.114666666666663|             73.24|1.4622222222222223|                null|
| stddev|65.09608283145768| 6.043264977419209|1.7815968403618432|113.29117423140319|   42.680288629891|928.9297509192268|2.8520681718961174|2.0970216975510825|0.7255813214025385|                null|
|    min|                1|               9.0|                 3|              68.0|               100|             1613|               8.0|                70|                 1|amc ambassador br...|
|    max|              225|              36.0|                 8|             455.0|                 ?|             5140|              23.5|                77|                 3|           vw rabbit|
+-------+-----------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+--------------------+

Note: Spark does lazy evaluation/execution. Unless output is forced, no output is generated, only instruction set created ready for execution.
.show() forces output

## Add Columns, .withColumn()

In [32]:
df_spark = df_spark.withColumn('V10', df_spark['V2']+2)

Note: spark allows column-operations (or "vectorized" operations). so loops are NOT required. if you're using loops in spark for column or row operations, re-evaluate!!!

In [33]:
df_spark.show(5)

+---+----+---+-----+---+----+----+---+---+--------------------+---+
|_c0|  V1| V2|   V3| V4|  V5|  V6| V7| V8|                  V9|V10|
+---+----+---+-----+---+----+----+---+---+--------------------+---+
|  1|18.0|  8|307.0|130|3504|12.0| 70|  1|chevrolet chevell...| 10|
|  2|15.0|  8|350.0|165|3693|11.5| 70|  1|   buick skylark 320| 10|
|  3|18.0|  8|318.0|150|3436|11.0| 70|  1|  plymouth satellite| 10|
|  4|16.0|  8|304.0|150|3433|12.0| 70|  1|       amc rebel sst| 10|
|  5|17.0|  8|302.0|140|3449|10.5| 70|  1|         ford torino| 10|
+---+----+---+-----+---+----+----+---+---+--------------------+---+
only showing top 5 rows

## Drop columns, .drop()

In [34]:
df_spark = df_spark.drop('V10')

In [35]:
df_spark.show(5)

+---+----+---+-----+---+----+----+---+---+--------------------+
|_c0|  V1| V2|   V3| V4|  V5|  V6| V7| V8|                  V9|
+---+----+---+-----+---+----+----+---+---+--------------------+
|  1|18.0|  8|307.0|130|3504|12.0| 70|  1|chevrolet chevell...|
|  2|15.0|  8|350.0|165|3693|11.5| 70|  1|   buick skylark 320|
|  3|18.0|  8|318.0|150|3436|11.0| 70|  1|  plymouth satellite|
|  4|16.0|  8|304.0|150|3433|12.0| 70|  1|       amc rebel sst|
|  5|17.0|  8|302.0|140|3449|10.5| 70|  1|         ford torino|
+---+----+---+-----+---+----+----+---+---+--------------------+
only showing top 5 rows

## Rename column, .withColumnRenamed()

In [36]:
df_spark.withColumnRenamed('V1','mpg').show(5)

+---+----+---+-----+---+----+----+---+---+--------------------+
|_c0| mpg| V2|   V3| V4|  V5|  V6| V7| V8|                  V9|
+---+----+---+-----+---+----+----+---+---+--------------------+
|  1|18.0|  8|307.0|130|3504|12.0| 70|  1|chevrolet chevell...|
|  2|15.0|  8|350.0|165|3693|11.5| 70|  1|   buick skylark 320|
|  3|18.0|  8|318.0|150|3436|11.0| 70|  1|  plymouth satellite|
|  4|16.0|  8|304.0|150|3433|12.0| 70|  1|       amc rebel sst|
|  5|17.0|  8|302.0|140|3449|10.5| 70|  1|         ford torino|
+---+----+---+-----+---+----+----+---+---+--------------------+
only showing top 5 rows

## Rename ALL columns, toDF(*new_col_names)
Can be used for multiple (as in less than all) columns

In [37]:
new_col_names = ["sr_no", "mpg", "cyl", "dspl", "hp", "wt", "accl", "yr", "origin", "name"]

Note: when defining variable containing NEW column names you can use () or [].

In [38]:
df_spark.toDF(*new_col_names).show(5)

+-----+----+---+-----+---+----+----+---+------+--------------------+
|sr_no| mpg|cyl| dspl| hp|  wt|accl| yr|origin|                name|
+-----+----+---+-----+---+----+----+---+------+--------------------+
|    1|18.0|  8|307.0|130|3504|12.0| 70|     1|chevrolet chevell...|
|    2|15.0|  8|350.0|165|3693|11.5| 70|     1|   buick skylark 320|
|    3|18.0|  8|318.0|150|3436|11.0| 70|     1|  plymouth satellite|
|    4|16.0|  8|304.0|150|3433|12.0| 70|     1|       amc rebel sst|
|    5|17.0|  8|302.0|140|3449|10.5| 70|     1|         ford torino|
+-----+----+---+-----+---+----+----+---+------+--------------------+
only showing top 5 rows

Without assignment OR without capturing return value of function, the result is only view, not modification to df.
Also Spark uses RDD, immutable datastructures, so everytime a brand new datastructure is created

In [39]:
df_spark = df_spark.toDF(*new_col_names)

In [40]:
df_spark.show(5)

+-----+----+---+-----+---+----+----+---+------+--------------------+
|sr_no| mpg|cyl| dspl| hp|  wt|accl| yr|origin|                name|
+-----+----+---+-----+---+----+----+---+------+--------------------+
|    1|18.0|  8|307.0|130|3504|12.0| 70|     1|chevrolet chevell...|
|    2|15.0|  8|350.0|165|3693|11.5| 70|     1|   buick skylark 320|
|    3|18.0|  8|318.0|150|3436|11.0| 70|     1|  plymouth satellite|
|    4|16.0|  8|304.0|150|3433|12.0| 70|     1|       amc rebel sst|
|    5|17.0|  8|302.0|140|3449|10.5| 70|     1|         ford torino|
+-----+----+---+-----+---+----+----+---+------+--------------------+
only showing top 5 rows

## Check for NaN values

In [41]:
from pyspark.sql.functions import isnan, when, count, col

In [42]:
df_spark.select( [ count( when( isnan(c), c)).alias(c) for c in df_spark.columns]).show()

+-----+---+---+----+---+---+----+---+------+----+
|sr_no|mpg|cyl|dspl| hp| wt|accl| yr|origin|name|
+-----+---+---+----+---+---+----+---+------+----+
|    0|  0|  0|   0|  0|  0|   0|  0|     0|   0|
+-----+---+---+----+---+---+----+---+------+----+

Difference between Null and Nan values
Null is nothing
NaN is Not a Number

In [43]:
df_spark.select( [ count( when( col(c).isNull(), c)).alias(c) for c in df_spark.columns]).show()

+-----+---+---+----+---+---+----+---+------+----+
|sr_no|mpg|cyl|dspl| hp| wt|accl| yr|origin|name|
+-----+---+---+----+---+---+----+---+------+----+
|    0|  0|  0|   0|  0|  0|   0|  0|     0|   0|
+-----+---+---+----+---+---+----+---+------+----+

In [44]:
df_spark.na.drop(how="all")

DataFrame[sr_no: int, mpg: double, cyl: int, dspl: double, hp: string, wt: int, accl: double, yr: int, origin: int, name: string]

## Filter operations

In [45]:
df_spark.filter("mpg>20").show(5)

+-----+----+---+-----+---+----+----+---+------+--------------------+
|sr_no| mpg|cyl| dspl| hp|  wt|accl| yr|origin|                name|
+-----+----+---+-----+---+----+----+---+------+--------------------+
|   15|24.0|  4|113.0| 95|2372|15.0| 70|     3|toyota corona mar...|
|   16|22.0|  6|198.0| 95|2833|15.5| 70|     1|     plymouth duster|
|   18|21.0|  6|200.0| 85|2587|16.0| 70|     1|       ford maverick|
|   19|27.0|  4| 97.0| 88|2130|14.5| 70|     3|        datsun pl510|
|   20|26.0|  4| 97.0| 46|1835|20.5| 70|     2|volkswagen 1131 d...|
+-----+----+---+-----+---+----+----+---+------+--------------------+
only showing top 5 rows

In [46]:
df_spark.filter("mpg>20").count()

95

Filter similar to Pandas

In [47]:
df_spark.filter(df_spark['mpg']>20).count()

95

In [48]:
df_spark.dtypes

[('sr_no', 'int'),
 ('mpg', 'double'),
 ('cyl', 'int'),
 ('dspl', 'double'),
 ('hp', 'string'),
 ('wt', 'int'),
 ('accl', 'double'),
 ('yr', 'int'),
 ('origin', 'int'),
 ('name', 'string')]

In [49]:
df_spark.filter( (df_spark['mpg']>20.0) & (df_spark['cyl']==6) ).count()

11

In [50]:
df_spark.filter( (df_spark['mpg']>20.0) & (df_spark['cyl']==6) ).show(5)

+-----+----+---+-----+---+----+----+---+------+----------------+
|sr_no| mpg|cyl| dspl| hp|  wt|accl| yr|origin|            name|
+-----+----+---+-----+---+----+----+---+------+----------------+
|   16|22.0|  6|198.0| 95|2833|15.5| 70|     1| plymouth duster|
|   18|21.0|  6|200.0| 85|2587|16.0| 70|     1|   ford maverick|
|   25|21.0|  6|199.0| 90|2648|15.0| 70|     1|     amc gremlin|
|  102|23.0|  6|198.0| 95|2904|16.0| 73|     1| plymouth duster|
|  114|21.0|  6|155.0|107|2472|14.0| 73|     1|mercury capri v6|
+-----+----+---+-----+---+----+----+---+------+----------------+
only showing top 5 rows

In [51]:
df_spark.groupBy('mpg').count().show(3)

+----+-----+
| mpg|count|
+----+-----+
|15.5|    2|
|31.5|    1|
|29.0|    6|
+----+-----+
only showing top 3 rows

In [52]:
df_spark.groupBy('cyl').mean().show()

+---+------------------+------------------+--------+-----------------+------------------+------------------+-----------------+------------------+
|cyl|        avg(sr_no)|          avg(mpg)|avg(cyl)|        avg(dspl)|           avg(wt)|         avg(accl)|          avg(yr)|       avg(origin)|
+---+------------------+------------------+--------+-----------------+------------------+------------------+-----------------+------------------+
|  6|124.85714285714286|18.653061224489797|     6.0|225.9795918367347|3205.5102040816328|16.448979591836736| 73.6734693877551|1.1020408163265305|
|  3|              92.0|              18.5|     3.0|             70.0|            2227.0|              13.5|             72.5|               3.0|
|  4|123.17391304347827| 25.97826086956522|     4.0|106.0054347826087|2270.3152173913045|16.686956521739134|73.46739130434783| 2.032608695652174|
|  8| 95.01219512195122|14.036585365853659|     8.0|349.5853658536585| 4183.378048780488| 12.59268292682927| 72.7439024390244|               1.0|
+---+------------------+------------------+--------+-----------------+------------------+------------------+-----------------+------------------+

# Linear Regression in PySpark

## Pre_process data
to make suitable for analysis

In [53]:
from pyspark.ml.feature import VectorAssembler

Avengers, assemble!

Note: outputCol in VectorAssembler is the name of column,
containing "vector" of input or independent features or predictors.
It is added as a new column to original dataframe.

In [54]:
features_assemble = VectorAssembler( inputCols=['cyl', 'dspl','wt'], outputCol='input_features')

### Vector Assemble features
Transform DataFrame with vector-assembled features

In [55]:
df_features_assemble = features_assemble.transform(df_spark)

In [56]:
type(df_features_assemble)

pyspark.sql.dataframe.DataFrame

Note: VectorAssembler_object.transform(DataFrame) returns a new DataFrame

In [57]:
df_features_assemble.show(3)

+-----+----+---+-----+---+----+----+---+------+--------------------+------------------+
|sr_no| mpg|cyl| dspl| hp|  wt|accl| yr|origin|                name|    input_features|
+-----+----+---+-----+---+----+----+---+------+--------------------+------------------+
|    1|18.0|  8|307.0|130|3504|12.0| 70|     1|chevrolet chevell...|[8.0,307.0,3504.0]|
|    2|15.0|  8|350.0|165|3693|11.5| 70|     1|   buick skylark 320|[8.0,350.0,3693.0]|
|    3|18.0|  8|318.0|150|3436|11.0| 70|     1|  plymouth satellite|[8.0,318.0,3436.0]|
+-----+----+---+-----+---+----+----+---+------+--------------------+------------------+
only showing top 3 rows

Notice the "input_features" column

### Pre_process complete

## Ready for Analysis

In [58]:
df_ready_for_analysis = df_features_assemble.select('mpg','input_features')

In [59]:
df_ready_for_analysis.show(3)

+----+------------------+
| mpg|    input_features|
+----+------------------+
|18.0|[8.0,307.0,3504.0]|
|15.0|[8.0,350.0,3693.0]|
|18.0|[8.0,318.0,3436.0]|
+----+------------------+
only showing top 3 rows

Refer above code to know that "input_features" is vector of inputCols=['cyl', 'dspl','wt']

### Import LinearRegression

In [60]:
from pyspark.ml.regression import LinearRegression

### Train-Test Split

In [61]:
train_data, test_data = df_ready_for_analysis.randomSplit([0.75,0.25], seed=2022)

In [62]:
train_data.count()

167

In [63]:
test_data.count()

58

In [64]:
df_ready_for_analysis.count()

225

In [65]:
df_ready_for_analysis.show(3)

+----+------------------+
| mpg|    input_features|
+----+------------------+
|18.0|[8.0,307.0,3504.0]|
|15.0|[8.0,350.0,3693.0]|
|18.0|[8.0,318.0,3436.0]|
+----+------------------+
only showing top 3 rows

### Instantiate object for LinearRegression

In [66]:
lm_object = LinearRegression(featuresCol='input_features', labelCol='mpg')

In [67]:
print( type(lm_object))

<class 'pyspark.ml.regression.LinearRegression'>

### Fit the model to training data

In [68]:
model_lm_fit_train_data = lm_object.fit(dataset=train_data)

In [69]:
print( type(model_lm_fit_train_data))

<class 'pyspark.ml.regression.LinearRegressionModel'>

In [70]:
print( model_lm_fit_train_data)

LinearRegressionModel: uid=LinearRegression_c66b96d14d8b, numFeatures=3

In [71]:
df_ready_for_analysis.describe().show()

+-------+------------------+
|summary|               mpg|
+-------+------------------+
|  count|               225|
|   mean|19.964444444444446|
| stddev| 6.043264977419209|
|    min|               9.0|
|    max|              36.0|
+-------+------------------+

### Get RMSE
Root Mean Squared Error

In [72]:
rmse_lm = round(model_lm_fit_train_data.summary.rootMeanSquaredError,3)
print("RMSE= ", rmse_lm)

RMSE=  2.538

### Get MAE
Mean Absolute Error

In [73]:
mae_lm = round(model_lm_fit_train_data.summary.meanAbsoluteError,3)
print("MAE= ", mae_lm)

MAE=  1.996

### Get R-squared

In [74]:
r2_lm = round(model_lm_fit_train_data.summary.r2, 3)
print("R2= ", r2_lm)

R2=  0.811

### Get coefficients for fitted model

In [75]:
model_coeff = model_lm_fit_train_data.coefficients
print("model_coeff= ", [round(i,3) for i in model_coeff])

model_coeff=  [-0.352, -0.009, -0.004]

Note: "input_features" is vector of inputCols=['cyl', 'dspl','wt'].
So coefficients above are 3-qty.total, 1 for each of the 3 predictors.

### Get Intercept for fitted model

In [76]:
model_intercept = round(model_lm_fit_train_data.intercept,3)
print("model_intercept= ", model_intercept)

model_intercept=  37.13

### Make Predictions

In [77]:
yhat_model_predicts = model_lm_fit_train_data.evaluate(dataset= test_data)

In [78]:
yhat_model_predicts

In [79]:
yhat_model_predicts.predictions.show(3)

+----+------------------+------------------+
| mpg|    input_features|        prediction|
+----+------------------+------------------+
|10.0|[8.0,307.0,4376.0]|13.300805901781231|
|10.0|[8.0,360.0,4615.0]| 11.83110154839293|
|12.0|[8.0,350.0,4456.0]|12.584412779198807|
+----+------------------+------------------+
only showing top 3 rows

D:\python\lib\site-packages\pyspark\sql\context.py:125: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [80]:
yhat_model_predicts.read()

AttributeError: 'LinearRegressionSummary' object has no attribute 'read'